#image {
    margin-top: 150px; 
    margin-left: 540px;
}
#chromeimage{
    width: 70px;
    height: 64px;
}
#chromebadge{
    background-color: white;
}
#chrometext{
    color: black;
    font-size: 14px;
    font-style: normal;
}
   
    
